@{
    Layout = "~/Views/Shared/_Layout_School.cshtml";
    ViewBag.Title = "Trang chủ";
}


<div id="welcome-message" class="welcome-message"">
    <h1>Welcome to School Portal</h1>
    <p>(っ◔◡◔)っ ♥ Have A Great Day ♥</p>
</div>
